# Sample Size Calculator (WIP)
Purpose: we want a version of the [Periscope dashboard](https://app.periscopedata.com/app/adrise:tubi/676521/(Official)-Experimentation-Sample-Size-Calculator), but with additional flexibility of filtering for a specific set of users. 

The very high level concept of this tool:
1. Dynamically generate a SQL query based on a set of user-generated inputs. Run the query on Redshift to pull into a dataframe.
2. Run through the sample size calculations (with the ability for the user to set custom parameters). Output a table that displays sample required for all chosen platforms. 

The bulk of the work is focused on adding flexibility to #1. This tool is WIP and there are many improvements to be done (in order of priority):
- Adding analytics_richevent filtering capabilities (ie. can we pull all users who watched 70% of a video, then hit the back button?)
- Adding capability to have more than 1 attribute and metric filter
- Adding flexibility for the user to define their own primary metrics

In [1]:
import tubi_data_runtime as tdr
import math
import pandas as pd
import numpy as np
from datetime import date
from statsmodels.stats.power import tt_ind_solve_power
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

from ssc_utils.filter_generator import filter_generator
from ssc_utils.raw_user_data import raw_user_data
from ssc_utils.metric_switcher import metric_switcher
from ssc_utils.metric_summary import metric_summary
from ssc_utils.cuped import cuped
import ssc_utils.calculator as c

# load choices
event_name_choices = filter_generator().event_name_choices()
filter_metrics_choices = filter_generator().filter_metrics_choices()

## Interactive calculator (end user starts here)

In [2]:
print('relative effect size')
EFFECT_SIZE_RELATIVE = interactive(c.effect, x=(0.0,1.0,0.01))
display(EFFECT_SIZE_RELATIVE)

print('')
print('number of treatments')
NUMBER_VARIATIONS = interactive(c.variations, x=(0,8,1))
display(NUMBER_VARIATIONS)

print('')
print('allocation per variation (including control)')
ALLOCATION = interactive(c.allocation, x=(0.0,1.0,0.01))
display(ALLOCATION)

print('')
print('power')
POWER = interactive(c.power, x=(0.0,1.0,0.01))
display(POWER)

print('')
print('alpha')
ALPHA = interactive(c.alpha, x=(0.0,1.0,0.01))
display(ALPHA)

relative effect size

interactive(children=(FloatSlider(value=0.01, description='x', max=1.0, step=0.01), Output()), _dom_classes=('…

number of treatments

interactive(children=(IntSlider(value=1, description='x', max=8), Output()), _dom_classes=('widget-interact',)…

allocation per variation (including control)

interactive(children=(FloatSlider(value=0.5, description='x', max=1.0, step=0.01), Output()), _dom_classes=('w…

power

interactive(children=(FloatSlider(value=0.8, description='x', max=1.0, step=0.01), Output()), _dom_classes=('w…

alpha

interactive(children=(FloatSlider(value=0.05, description='x', max=1.0, step=0.01), Output()), _dom_classes=('…

In [3]:
print('')
print('choose your primary metric')
metric_str = interactive(metric_switcher().choose_metric, metric = metric_switcher().possible_metrics())
display(metric_str)

choose your primary metric

interactive(children=(Dropdown(description='metric', options=('capped_tvt', 'new_viewer_first_day_capped_tvt',…

In [4]:
print('choose attribute filter')
attribute_filter = interactive(filter_generator().make_sql_condition_string, 
                                   field = filter_generator().filter_attributes_choices(), 
                                   condition = filter_generator().attribute_conditions_choices(), 
                                   value = '', 
                                   filter_type = fixed('attribute'))
display(attribute_filter)

choose attribute filter

interactive(children=(Dropdown(description='field', options=('no filters', 'user_id', 'device_id', 'platform',…

In [5]:
print('')
print('choose metric filter')
metric_filter = interactive(filter_generator().make_sql_condition_string, 
                                field = filter_metrics_choices, 
                                condition = filter_generator().metric_conditions_choices(), 
                                value = '', 
                                filter_type = fixed('metric'))
display(metric_filter)

choose metric filter

interactive(children=(Dropdown(description='field', options=('no filters', 'visit_total_count', 'tvt_sec', 'mo…

In [6]:
print('choose your primary event')
primary_event = widgets.SelectMultiple(
    options = event_name_choices,
    value = ('no event filter',), 
    description='Events',
    disabled=False
)
display(primary_event)

print('choose event sub-condition')
primary_event_sub_cond = interactive(filter_generator().make_sql_condition_string, 
                              field = filter_generator().event_sub_cond_field_choices(), 
                              condition = filter_generator().metric_conditions_choices(), 
                              value = '', 
                              filter_type = fixed('event'))
display(primary_event_sub_cond)


print('choose your pre-requisite event')
pre_event = widgets.SelectMultiple(
    options = event_name_choices,
    value = ('no event filter',), 
    description='Events',
    disabled=False
)
display(pre_event)

print('choose event sub-condition')
pre_event_sub_cond = interactive(filter_generator().make_sql_condition_string, 
                              field = filter_generator().event_sub_cond_field_choices(), 
                              condition = filter_generator().metric_conditions_choices(), 
                              value = '', 
                              filter_type = fixed('event'))
display(pre_event_sub_cond)


print('choose time interval (leave NULL if not needed)')
time_interval = interactive(filter_generator().choose, choice = 'NULL')
display(time_interval)

choose your primary event

SelectMultiple(description='Events', index=(0,), options=('no event filter', 'AccountEvent', 'ActiveEvent', 'A…

choose event sub-condition

interactive(children=(Dropdown(description='field', options=('no filters', 'content_completion_pct', 'componen…

choose your pre-requisite event

SelectMultiple(description='Events', index=(0,), options=('no event filter', 'AccountEvent', 'ActiveEvent', 'A…

choose event sub-condition

interactive(children=(Dropdown(description='field', options=('no filters', 'content_completion_pct', 'componen…

choose time interval (leave NULL if not needed)

interactive(children=(Text(value='NULL', description='choice'), Output()), _dom_classes=('widget-interact',))

In [11]:
print(filter_generator().generate_filter_cte(attribute_condition_interact = attribute_filter, 
                                             metric_condition_interact = metric_filter, 
                                             event1_condition_interact = pre_event, 
                                             event1_sub_condition_interact = pre_event_sub_cond, 
                                             event2_condition_interact = primary_event, 
                                             event2_sub_condition_interact = primary_event_sub_cond, 
                                             event_time_interval_interact = time_interval))

        WITH start_devices AS (
          -- had to change this CTE name; for some reason "events" throws an error on Redshift... no idea why it works on Periscope
          -- TODO: figure out how to auto-sync this with our Periscope snippets
          SELECT
            round((position/1000.0)/duration, 2) as content_completion_pct,
            a.device_id,
            a.user_id,
            a.platform,
            case
              when UPPER(a.platform) in (
                'IPHONE', 'IPAD', 'ANDROID', 'FIRETABLET', 'ANDROID-SAMSUNG', 'ANDROID_SAMSUNG', 'FOR_SAMSUNG', 'IOS_WEB', 'IOS') then 'MOBILE'
              when UPPER(a.platform) in (
                'WEB') then 'WEB'
              else
                'OTT'
            end
            as platform_type, -- TODO: figure out how to make this auto-sync with DBT: http://dw-docs.production-public.tubi.io/ux/#!/macro/macro.core_metrics.platform_type
            a.device_first_seen_ts as device_first_seen_ts,
            a.ts,
            a.event_name,
            a.component__left_nav_section,
            a.component__utility_tile__id,
            a.dest_page__category_slug,
            a.content_id,
            case when a.content_type = 'EPISODE' then a.content_series_id else a.content_id end as program_id,
            a.page_type,
            a.dest_page_type,
            a.container_id,
            a.container_slug,
            a.query,
            a.manip,
            a.auth_type,
            a.current_auth_type,
            a.status,
            NVL(content_series_id, content_id) as start_video_content_id,
            LEAD(a.ts, 1) OVER (PARTITION BY a.device_id ORDER BY a.ts ASC) as next_time,
            LEAD(a.event_name, 1) OVER (PARTITION BY a.device_id ORDER BY a.ts ASC) as next_event_name,
            LEAD(a.page_type, 1) OVER (PARTITION BY a.device_id ORDER BY a.ts ASC) as next_source_page_type,

            CASE WHEN next_time > a.ts + interval '30 minutes' then 1 else 0 end as session_counter -- TODO: make the interval user-specified

          FROM tubidw.sampled_analytics_thousandth a
          WHERE DATE_TRUNC('week',ts) >= dateadd('week',-4, DATE_TRUNC('week',GETDATE()))
            AND DATE_TRUNC('week',ts) < DATE_TRUNC('week',GETDATE())
          AND platform = 'ROKU' -- attribute filters dynamically populate here
        )

        , sessionized_events AS (
          SELECT
            *,
            1 + coalesce(sum(session_counter) OVER (PARTITION BY device_id ORDER BY ts rows between UNBOUNDED preceding and 1 PRECEDING), 0) as session_num
          FROM start_devices
        )

        , window as (
          -- main query to get condition 2 status (funnel output)
          select
            *,
            first_value(case when event_name IN ('BookmarkEvent', 'NavigateToPageEvent', 'NavigateWithinPageEvent', 'PageLoadEvent') AND page_type = 'VideoPlayerPage' and has_condition1 then 1 else null end IGNORE NULLS) over
            (partition by device_id, session_num order by ts asc rows
            between unbounded preceding and CURRENT ROW) as has_condition1_condition2,
            first_value(case when event_name IN ('BookmarkEvent', 'NavigateToPageEvent', 'NavigateWithinPageEvent', 'PageLoadEvent') AND page_type = 'VideoPlayerPage' then 1 else null end IGNORE NULLS) over
            (partition by device_id, session_num order by ts asc rows
            between unbounded preceding and CURRENT ROW) as has_condition2,
            first_value(case when event_name IN ('BookmarkEvent', 'NavigateToPageEvent', 'NavigateWithinPageEvent', 'PageLoadEvent') AND page_type = 'VideoPlayerPage' then ts else null end IGNORE NULLS) over
            (partition by device_id, session_num order by ts asc rows
            between unbounded preceding and CURRENT ROW) as ts_condition2

          from
            -- subquery to get condition 1 status (funnel input)
            (select
              *,
              first_value(case when event_name IN ('PlayProgressEvent') AND content_completion_pct > 0.70 then 1 else null end IGNORE NULLS) over
              (partition by device_id, session_num order by ts asc rows
              between unbounded preceding and CURRENT ROW) as has_condition1,
              first_value(case when event_name IN ('PlayProgressEvent') AND content_completion_pct > 0.70 then ts else null end IGNORE NULLS) over
              (partition by device_id, session_num order by ts asc rows
              between unbounded preceding and CURRENT ROW) as ts_condition1
            from sessionized_events
            )

            -- TODO: can we save time by filtering the events? Doesn't save much time with sampled_analytics_thousandth
            -- WHERE event_name IN ('PlayProgressEvent') AND content_completion_pct > 0.70
            -- AND event_name IN ('BookmarkEvent', 'NavigateToPageEvent', 'NavigateWithinPageEvent', 'PageLoadEvent') AND page_type = 'VideoPlayerPage'
        )

        , base_summarized_sessions AS (
          SELECT
            device_id,
            session_num,

            -- Flag indicating whether the device had a relevant event
            -- TODO: auto-update with http://dw-docs.production-public.tubi.io/ux/#!/macro/macro.core_metrics.all_metric_event_name_filtered
            BOOL_OR(CASE WHEN event_name in ('PlayProgressEvent', 'StartVideoEvent', 'StartTrailerEvent', 'PageLoadEvent',
                                         'AccountEvent', 'ActiveEvent', 'StartAdEvent', 'FinishAdEvent', 'SubtitlesToggleEvent', 'SearchEvent',
                                         'SeekEvent', 'ResumeAfterBreakEvent', 'PauseToggleEvent', 'CastEvent', 'LivePlayProgressEvent',
                                         'LivePlayProgressEventEvent', 'StartLiveVideoEvent', 'BookmarkEvent'
                                         ) THEN TRUE ELSE FALSE END) AS has_all_metric_hourly_events,

            -- Aggregate values
            MAX(CASE WHEN has_condition1_condition2 THEN 1 ELSE 0 END) > 0 AS has_condition1_condition2,
            MAX(CASE WHEN DATEDIFF('second', ts_condition1, ts_condition2) <= COALESCE( NULL, 999999) THEN 1 ELSE 0 END) > 0 AS time_condition,
            SUM(has_condition1) AS sum_condition1,
            SUM(has_condition2) AS sum_condition2,
            SUM(CASE WHEN has_condition1_condition2 THEN 1 ELSE 0 END) AS sum_both_conditions,
            SUM(CASE WHEN has_condition1 THEN 1 ELSE 0 END) >= SUM(has_condition1_condition2) AS condition1_before_condition2,
            SUM(CASE WHEN has_condition1 THEN 1 ELSE 0 END) - SUM(CASE WHEN has_condition1_condition2 THEN 1 ELSE 0 END) AS condition_difference
          FROM window
          GROUP BY 1, 2
        )

        , summarized_session as (
          SELECT
            *,

            sum_condition1 > 0 AS has_condition1,
            sum_condition2 > 0 AS has_condition2,

            CASE WHEN has_condition1_condition2 AND condition1_before_condition2 THEN TRUE ELSE FALSE END AS has_both_conditions,
            CASE WHEN has_condition1_condition2 AND time_condition AND condition1_before_condition2 THEN TRUE ELSE FALSE END AS has_both_conditions_time

            -- NOTE: Steps interval is commented outs for simplicity. Can add this functionality back if there is a use case in the future.
            -- MAX(CASE WHEN condition_difference <= COALESCE( NULL, 999999) THEN 1 ELSE 0 END) > 0 AS steps_condition,
            -- CASE WHEN has_condition1_condition2 AND steps_condition AND condition1_before_condition2 THEN TRUE ELSE FALSE END AS has_both_conditions_steps,
            -- CASE WHEN has_condition1_condition2 AND steps_condition AND time_condition AND condition1_before_condition2 THEN TRUE ELSE FALSE END AS has_both_conditions_time_steps

          FROM
            base_summarized_sessions
          GROUP BY
            1, 2, 3, 4, 5, 6, 7, 8, 9, 10
        )

        , elig_devices as (
            SELECT device_id
            FROM summarized_session
            GROUP BY 1
            HAVING BOOL_OR(has_both_conditions_time)
            AND BOOL_OR(has_all_metric_hourly_events) -- using this brings the number of devices closer to all_metric_hourly (2.5% off)
        )


        , elig_device_metrics as (
            -- For eligible devices, pull their whole history for the metric we want to filter
            SELECT
                d.device_id,
                d.device_first_seen_ts,
                d.device_first_view_ts,
                d.platform,
                d.platform_type,
                d.ds,
                -- For filtering devices
                sum(tvt_sec) as daily_filter_metric
            FROM tubidw.device_metric_daily as d
            JOIN start_devices as e
                ON d.device_id = e.device_id
            GROUP BY 1,2,3,4,5,6
        )

        , elig_device_cumul_filter as (
            SELECT *, sum(daily_filter_metric) OVER (PARTITION BY device_id, platform_type, platform ORDER BY ds rows between unbounded preceding and current row) as cumul_filter_metric
            FROM elig_device_metrics
        )

        , elig_devices as (
            SELECT device_id
            FROM elig_device_cumul_filter
            GROUP BY 1
            HAVING 1=1
            -- cumulative metric filters dynamically populate below
            AND MAX(cumul_filter_metric) > 3600
            -- example:
            -- AND max(cumul_filter_metric) >= 3600.0 -- at least 60 mins of cumulative TVT
            -- AND max(cumul_filter_metric) <= 3600.0 -- less than 60 mins of cumulative TVT
        )
        ,

## After the user specifies the settings, run everything below

In [4]:
step1 = filter_generator().generate_filter_cte(attribute_sql = attribute_filter_str, metric_sql = metric_filter_str)
step2 = raw_user_data().generate_raw_user_data_cte()
step3 = metric_switcher().generate_user_data_cte(metric_str.result) 
step4 = metric_summary().generate_metric_summary_cte() 
step5 = cuped().generate_cuped_cte()

FINAL_SQL = step1 + step2 + step3 + step4 + step5

# output SQL for debugging purposes; can copy and manually run this elsewhere
print(FINAL_SQL)

        WITH elig_devices as (
            -- Pull list of devices that were active (has any row; don't need TVT >0) in the past 4 weeks
            SELECT DISTINCT device_id
            FROM tubidw.all_metric_hourly
            WHERE DATE_TRUNC('week',hs) >= dateadd('week',-4,DATE_TRUNC('week',GETDATE()))
            AND DATE_TRUNC('week',hs) < DATE_TRUNC('week',GETDATE())
             -- attribute filters dynamically populate here

        --     for example:
        --     AND user_id is not null AND device_id <> user_id   -- Guest vs signed in device
        --     AND platform IN ('ROKU', 'AMAZON')                 -- Platform/Platform type specific
        --     TODO: currently can't get a metric/attribute combo filter, like "devices that watched at least 50% of a specific content_id"
        )

        -- The next 3 CTEs are a waste of processing if cumul_filter_metric is not used.
        -- TODO: Figure out some way to make this dynamic, based on if cumul_filter_metric is used or not
        , elig_device_metrics as (
            -- For eligible devices, pull their whole history
            SELECT
                d.device_id,
                d.device_first_seen_ts,
                d.device_first_view_ts,
                d.platform,
                d.platform_type,
                d.ds,

                -- For filtering devices
                sum(0) as daily_filter_metric,

                -- For calculating metrics
                sum(d.tvt_sec) as tvt_sec,
                sum(d.user_signup_count) as user_signup_count,
                sum(d.device_registration_count) as device_registration_count,
                sum(d.signup_or_registration_activity_count) as signup_or_registration_activity_count,
                sum(d.visit_total_count) as visit_total_count
            FROM tubidw.device_metric_daily as d
            JOIN elig_devices as e
                ON d.device_id = e.device_id
            GROUP BY 1,2,3,4,5,6
        )

        , elig_device_cumul_filter as (
            SELECT *, sum(daily_filter_metric) OVER (PARTITION BY device_id, platform_type, platform ORDER BY ds rows between unbounded preceding and current row) as cumul_filter_metric
            FROM elig_device_metrics
        )

        , elig_devices2 as (
            SELECT device_id
            FROM elig_device_cumul_filter

            -- cumulative metric filters dynamically populate below
            WHERE 1=1

            -- example:
            -- AND cumul_filter_metric >= 3600.0      -- at least 60 mins of cumulative TVT

            GROUP BY 1

            HAVING 1=1

            -- example:
            -- AND max(cumul_filter_metric) <= 3600.0 -- less than 60 mins of cumulative TVT
        )
        , raw_user_data AS (
              SELECT
                     a.device_id,
                     device_first_seen_ts,
                     ds,
                     platform_type,
                     platform,
                     GETDATE() AS last_exposure_ds,
                     DATEADD('week', -2, DATE_TRUNC('week', last_exposure_ds)) AS first_exposure_ds,
                     -- Metrics
                     sum(tvt_sec) as tvt_sec,
                     sum(user_signup_count) as user_signup_count,
                     sum(device_registration_count) as device_registration_count,
                     sum(signup_or_registration_activity_count) as signup_or_registration_activity_count,
                     sum(visit_total_count) as visit_total_count
              FROM tubidw.device_metric_daily as a
              JOIN elig_devices2 as e    -- TODO: make this dynamic, based on if cumul_filter_metric is used or not
                ON a.device_id = e.device_id
              WHERE DATE_TRUNC('week',ds) >= dateadd('week', -4, DATE_TRUNC('week',GETDATE()))
                AND DATE_TRUNC('week',ds) < DATE_TRUNC('week', GETDATE())
              GROUP BY 1,2,3,4,5,6,7
            )

        , user_data AS (
          SELECT
            device_id, ds, platform_type, platform, device_first_seen_ts, first_exposure_ds,
            'capped_tvt'::text AS metric_name,
            'SUM'::text AS metric_collection_method,
            LEAST(tvt_sec / 3600.0, 4.0) AS metric_value
          FROM raw_user_data
        )

            , metrics AS (
              SELECT DISTINCT
                     user_data.device_id,
                     platform_type,
                     platform,
                     metric_name,
                     CASE
                       WHEN metric_collection_method = 'SUM' THEN SUM(CASE WHEN user_data.ds >= user_data.first_exposure_ds THEN metric_value ELSE 0 END) OVER
                        (PARTITION BY user_data.device_id, user_data.platform)
                       WHEN metric_collection_method = 'MAX' THEN MAX(CASE WHEN user_data.ds >= user_data.first_exposure_ds THEN metric_value ELSE 0 END) OVER
                        (PARTITION BY user_data.device_id, user_data.platform)
                      WHEN metric_collection_method = 'AVG' THEN AVG(CASE WHEN user_data.ds >= user_data.first_exposure_ds THEN metric_value ELSE NULL END) OVER
                        (PARTITION BY user_data.device_id, user_data.platform)
                      WHEN metric_collection_method = 'SUMGREATERTHAN' THEN CASE WHEN (SUM(CASE WHEN user_data.ds >= user_data.first_exposure_ds THEN metric_value ELSE 0 END) OVER
                        (PARTITION BY user_data.device_id, user_data.platform)) > 1 THEN 1.0 ELSE 0.0 END
                      ELSE 0 END::float
                     AS metric_result,
                    CASE
                          WHEN metric_collection_method = 'SUM' THEN
                              SUM(CASE WHEN user_data.ds < user_data.first_exposure_ds THEN metric_value ELSE
                          (CASE WHEN device_first_seen_ts < user_data.first_exposure_ds - interval '14 day' THEN 0 ELSE NULL END) END) OVER
                          (PARTITION BY user_data.device_id, user_data.platform)
                          WHEN metric_collection_method = 'MAX' THEN
                              MAX(CASE WHEN user_data.ds < user_data.first_exposure_ds THEN metric_value ELSE
                          (CASE WHEN device_first_seen_ts < user_data.first_exposure_ds - interval '14 day' THEN 0 ELSE NULL END) END) OVER
                          (PARTITION BY user_data.device_id, user_data.platform)
                          WHEN metric_collection_method = 'AVG' THEN
                              AVG(CASE WHEN user_data.ds < user_data.first_exposure_ds THEN metric_value ELSE
                          (CASE WHEN device_first_seen_ts < user_data.first_exposure_ds - interval '14 day' THEN 0 ELSE NULL END) END) OVER
                          (PARTITION BY user_data.device_id, user_data.platform)
                    WHEN metric_collection_method = 'SUMGREATERTHAN' THEN
                      CASE WHEN (SUM(CASE WHEN user_data.ds < user_data.first_exposure_ds THEN metric_value ELSE
                          (CASE WHEN device_first_seen_ts < user_data.first_exposure_ds - interval '14 day' THEN 0 ELSE NULL END) END) OVER
                          (PARTITION BY user_data.device_id, user_data.platform)
                          ) > 1 THEN 1 ELSE 0 END
                          ELSE 0 END::float AS metric_covariate
              FROM user_data
            )

            -- Cuped values
            , cuped_values_1 AS (
              SELECT
                *,
                AVG(metric_covariate) OVER (PARTITION BY metric_name, platform_type) AS before_covariate_average,
                AVG(metric_result) OVER (PARTITION BY metric_name, platform_type) AS after_covariate_average,
                STDDEV(metric_covariate) OVER (PARTITION BY metric_name, platform_type) AS covariate_standard_dev,
                AVG(metric_covariate) OVER (PARTITION BY metric_name) AS before_covariate_average_total,
                AVG(metric_result) OVER (PARTITION BY metric_name) AS after_covariate_average_total,
                STDDEV(metric_result) OVER (PARTITION BY metric_name) AS covariate_standard_dev_total
              FROM metrics
            )

            , cuped_values_2 AS (
              SELECT
                *,
                AVG(metric_covariate) OVER (PARTITION BY metric_name, platform) AS before_covariate_average,
                AVG(metric_result) OVER (PARTITION BY metric_name, platform) AS after_covariate_average,
                STDDEV(metric_covariate) OVER (PARTITION BY metric_name, platform) AS covariate_standard_dev
              FROM metrics
              WHERE platform in ('ROKU','AMAZON','IPHONE','IPAD','ANDROID','SONY','PS4','COMCAST','VIZIO','XBOXONE','SAMSUNG','COX')
            )

            , cuped_data_1 AS (
              SELECT
                metric_name,
                AVG(metric_covariate) AS covariate_mean,
                1.0 * SUM((metric_covariate - before_covariate_average_total)*(metric_result - after_covariate_average_total)) / NULLIF(STDDEV(metric_covariate)*STDDEV(metric_covariate) * COUNT(*), 0) AS theta
              FROM cuped_values_1
              GROUP BY 1
            )

            , cuped_data_2 as (
              SELECT
                metric_name,
                platform_type,
                AVG(metric_covariate) AS covariate_mean,
                1.0 * SUM((metric_covariate - before_covariate_average)*(metric_result - after_covariate_average)) / NULLIF(STDDEV(metric_covariate)*STDDEV(metric_covariate) * COUNT(*), 0) AS theta
              FROM cuped_values_1
              GROUP BY 1, 2
            )

            , cuped_data_3 as (
              SELECT
                metric_name,
                platform,
                AVG(metric_covariate) AS covariate_mean,
                1.0 * SUM((metric_covariate - before_covariate_average)*(metric_result - after_covariate_average)) / NULLIF(STDDEV(metric_covariate)*STDDEV(metric_covariate) * COUNT(*), 0) AS theta
              FROM cuped_values_2
              GROUP BY 1, 2
            )

            , cuped_metrics_1 as (
              SELECT
                device_id,
                a.metric_name,
                metric_result,
                metric_covariate,
                COALESCE(metric_result - (metric_covariate - covariate_mean) * theta, metric_result) AS cuped_result
              FROM cuped_data_1 AS a
                INNER JOIN cuped_values_1 b
                  ON a.metric_name = b.metric_name
            )

            , cuped_metrics_2 as (
              SELECT
                device_id,
                a.metric_name,
                a.platform_type AS platform,
                metric_result,
                metric_covariate,
                COALESCE(metric_result - (metric_covariate - covariate_mean) * theta, metric_result) AS cuped_result
              FROM cuped_data_2 AS a
                INNER JOIN cuped_values_1 AS b
                  ON a.platform_type = b.platform_type
                  AND a.metric_name = b.metric_name
            )

            , cuped_metrics_3 as (
              SELECT
                device_id,
                a.metric_name,
                a.platform,
                metric_result,
                metric_covariate,
                COALESCE(metric_result - (metric_covariate - covariate_mean) * theta, metric_result) AS cuped_result
              FROM cuped_data_3 AS a
                INNER JOIN cuped_values_2 AS b
                  ON a.platform = b.platform
                  AND a.metric_name = b.metric_name
            )

            , cuped_results AS (
                SELECT metric_name,
                        'ALL' as platform,
                        count(distinct device_id) size,
                        avg(metric_result) result_avg,
                        STDDEV(metric_result) result_std,
                        avg(cuped_result) avg_cuped_result,
                        STDDEV(cuped_result) std_cuped_result
                FROM cuped_metrics_1
                GROUP BY  1, 2

                UNION ALL

                SELECT metric_name,
                       platform,
                       COUNT(distinct device_id) size,
                       AVG(metric_result) result_avg,
                       STDDEV(metric_result) result_std,
                       AVG(cuped_result) avg_cuped_result,
                       STDDEV(cuped_result) std_cuped_result
                FROM cuped_metrics_2
                GROUP BY 1, 2

                UNION ALL

                SELECT metric_name,
                       platform,
                       COUNT(distinct device_id) size,
                       AVG(metric_result) result_avg,
                       STDDEV(metric_result) result_std,
                       AVG(cuped_result) avg_cuped_result,
                       STDDEV(cuped_result) std_cuped_result
                FROM cuped_metrics_3
                GROUP BY 1, 2
            )

            SELECT
                   metric_name,
                   platform,
                   size AS observations,
                   avg_cuped_result,
                   std_cuped_result
            FROM cuped_results

In [5]:
df = tdr.query_redshift(FINAL_SQL).to_df()

In [6]:
df.sort_values('platform').style\
    .hide_index()\

## Sample size results

In [7]:
import warnings
from statsmodels.tools.sm_exceptions import ConvergenceWarning
warnings.simplefilter('ignore', ConvergenceWarning)

# ---------- Constants ---------- # 
COL_NAME_P = 'avg_cuped_result'
STD_COL_NAME = 'std_cuped_result'
RATIO = 1
SAMPLING = 1  # TODO: make this dynamic between 1 and 1000 for sampled analytics

CORRECTED_ALPHA = ALPHA.result / NUMBER_VARIATIONS.result
P2_MULTIPLICATIVE_FACTOR =  1 + EFFECT_SIZE_RELATIVE.result
    
# ---------- Functions --------- # 
def sample_power_ttest(p1, p2, sd_diff, alpha=0.05, power=0.8, ratio=1, alternative = 'two-sided'):
    mean_diff = abs(p2 - p1)
    std_effect_size = np.divide(mean_diff, sd_diff)
    n = tt_ind_solve_power(effect_size=std_effect_size, 
                         alpha=alpha, 
                         power=power, 
                         ratio=ratio, 
                         alternative=alternative) # Potential improvement: make this able to handle one-sided tests
    return np.array(n).round()

# ---------- Implementation ---------- #
df['sample_required'] =  df.apply(lambda row: sample_power_ttest(
    p1 = row[COL_NAME_P],
    p2 = row[COL_NAME_P] * P2_MULTIPLICATIVE_FACTOR,
    sd_diff = row[STD_COL_NAME],
    alpha = CORRECTED_ALPHA,
    power = POWER.result,
    ratio = RATIO)
                                  , axis=1)

df['weeks_required'] = np.divide(df['sample_required'], (df['observations'] * 0.5 * ALLOCATION.result * SAMPLING))
df['sample_required'] = df['sample_required'].astype('float')
df['weeks_required'] = df['weeks_required'].astype('float')

df.sort_values('platform').style\
    .hide_index()\
    .set_precision(3)\

# APPENDIX

## Workflow

The general workflow of this tool (for internal; will alter the description of this section to be more user friendly in the future):

### 1. User filtering
The goal of this section is to pull a list of specific users that are eligible for the experiment. This is where the bulk of our efforts will be focused. 
- We want this to be dynamic based on the complexity of any filters (see 3 levels below)
- We also want this to be interactable, to minimize the amount of adhoc SQL coding. It's daunting (and unscalable) for our stakeholders to alter the SQL in our current calculator to fit their specific needs. 

##### 3 different levels, in order of complexity (easiest to hardest):
1. device_metric_daily
    - all_metric_hourly covers the same metrics/attributes available for filtering, although device_metric_daily will be more performant
2. all_metric_hourly 
3. analytics_richevent
    
For our first prototype, we're only using all_metric_hourly to cover most filtering cases. To achieve a higher level of filtering flexibilty, we will include analytics_richevent. To reduce run times and processing work, we can include device_metric_daily.

#### In general, there are 2 ways to filter users:
1. Attributes (ie. ROKU+AMAZON, certain os, kids mode only, etc.)
2. Metrics (ie. watched at least 60 mins TVT, completed 3 movies, etc.)
3. Events (ie. user exited the video player after completing 70% of the content)

### 2. Raw user data
Catch-all CTE to pull a list of standard metrics of active devices in the last 4 weeks, from device_metric_daily. 
- In the future, we may want to improve this to allow flexibility for more complex metrics not available in device_metric_daily 
- ie. verification rates can only be calculated from analytics_richevent using is_confirmed = 't'

### 3. User data
Dynamic CTE that calculates a specific user-chosen metric.

### 4. Metric summary
Catch-all CTE that allows us to summarize/prep the data for CUPED.

### 5. CUPED
Catch-all CTE to calculate CUPED for all platforms, platform types, and all Tubi.